/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset
*/

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of css reset  */


body {
  font-family: 'Lato', 'san-serif';
  background-color: rgb(248, 239, 248);
  overflow: hidden;
}

button:focus {
  outline: none;
}

.header {
  position: relative;
  height: 125px;
  width: 100vw;
  box-shadow: 3px 3px 6px rgba(140, 114, 189, 0.6);
  display: flex;
  background-image: linear-gradient( 103deg,  rgba(235,225,188,0.7) 7.2%, rgba(232,188,234,0.7) 57.5%, rgba(203,209,244,0.7) 90.7% );
}

.header h1 {
  margin: auto 40px;
  font-size: 50px;
  color: rgb(85, 3, 85);
  font-weight: 400;
}

.lists-display-container {
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;
}

.new-list-container {
  display: inline-flex;
  width: 320px;
  height: calc(100vh - 125px);
  border: rgb(140, 114, 189) solid 1px;
  border-top: 0px;
  background-color: rgb(215, 203, 238);
  opacity: 0;
}

.list-order-container {
  float: left;
}

#new-list-button {
  height: 100px;
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
  display: flex;
  transition: background-color .3s;
  cursor: pointer;
}

#new-list-button:hover {
  background-color: rgb(140, 114, 189, 0.4);
}

#new-list-button p {
  margin: auto;
}

/* job list and sortable/placeholder styling */
.list-container {
  height: calc(100vh - 125px);
  width: 300px;
  display: inline-flex;
  background-color:rgb(215, 203, 238); 
  user-select: none;
  border: rgb(140, 114, 189) solid 1px;
  border-top: 0px;
  color: rgb(85, 3, 85);
  flex-direction: column;
}

.list-container .job-sortable { 
  width: 90%; 
  margin: 0 auto;
  overflow-y: scroll;
  flex: 1;
  margin-bottom: 5px;
}

.list-container .job-placeholder { 
  font-size: 1.4em; 
  width: 95%;
  height: 85px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px; 
  background-color: rgb(213, 193, 248);
  animation: color-me-in 1.6s, color-me-in 2.5s infinite;
}

@keyframes color-me-in {
  0% {
    background: rgb(213, 193, 248);
    
  }
  100% {
    background: rgb(204, 172, 255);
  }
}

/* list title */

.title-wrapper {
  width: 100%;
  height: 120px;
  display: flex;
}

.title-wrapper .list-title {
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: rgb(85, 3, 85);
  font-family: 'Lato', 'san-serif';
  text-transform: uppercase;
  border-radius: 2px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(215, 203, 238);
  transition: background-color .3s;
}

.title-wrapper .list-title:focus {
  outline: none;
  background-color: rgb(248, 239, 248);
}

.title-wrapper .list-title:hover {
  background-color: rgb(248, 239, 248);
}

/* add job button */

.add-job-wrapper {
  height: 60px;
}

.add-job-button {
  width: 90%;
  height: 35px;
  background-color: rgb(248, 239, 248);
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 1px 4px #d3c9e6;
  color: grey;
}

.add-job-button:hover {
  box-shadow: 0px 2px 7px #c8bbe0;
  background-color: rgb(248, 244, 248);
  cursor: pointer;
  color:rgb(85, 3, 85);
}

.add-job-button p {
  margin: auto;
  font-size: 25px;
}

/* job post */


.job-post { 
  width: 95%;
  height: 90px;
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px; 
  display: flex; 
  color: white;
  box-shadow: 0px 4px 8px rgba(24,0,69,0.3);
  position: relative;
  cursor: pointer;
}

/* job post icon container */

.job-post .icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  opacity: 0;
}

.job-post:hover .icon-container {
  opacity: 1;
}

/* icons */

.job-post .icon-container .icon {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
}

.job-post .icon-container .icon i {
  
  display: block;
  margin: auto;
}

.job-post .icon-container .icon:hover{
  background-color: white;
}

.job-post .icon-container .icon.trash {
  margin-bottom: 6px;
}

.job-post .icon-container a {
  text-decoration: none;
  color: white;
}


/* job post dragging behavior */


.job-post.is-dragging {
  cursor: default;
}

.job-post.is-dragging .icon-container {
  opacity: 0;
}

/* job post company info (name and position) */

.job-post .company-information { 
  position: absolute;
  left: 10px;
  top: 10px;
  width: 80%;
}

.job-post .company-information span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.job-post .company-information .company-name {
  font-size: 21px; 
  margin-bottom: 4px;
  height: 23px;
}

.job-post .company-information .position-name {
  font-size: 15px;
  height: 18px;
}

/* timestamp */

.job-post .time-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 11px;
}

/* modal styling */

.modal {
  background-color: rgb(248, 239, 248); 
  box-shadow: 0 0 4px #000;
  color: rgb(85, 3, 85);
  font-size: 20px;
}

.modal button {
  height: 35px;
  width: 100px;
  font-size: 15px;
  border-radius: 8px;
  background-color: white;
  transition: background-color .3s;
}

.modal button:hover {
  color: white;
  cursor: pointer;
  background-color:  rgb(85, 3, 85);

}

.modal header {
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

.modal label, .modal p {
  color: rgba(85, 3, 85, 0.7)
}

/* styling to darken screen around modals */

.blocker {
  background-color: rgba(0,0,0,0.5);
}

/* delete job notice */

#delete-job-notice p {
  margin-bottom: 20px;
  text-align: center;
}

#delete-job-notice .delete-button-container {
  margin: 0 auto;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

/* edit and add forms */

#edit-form button, #add-form button {
  margin-top: 20px;
  float: right;
}

.modal .input-container {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.modal .input-container label {
  flex: 3;
}

.modal .notes-section {
  padding-top: 10px;
  border-top: 2px solid rgba(140, 114, 189, 0.3);
  margin-top: 25px;
}

.modal .input-container input, .modal textarea {
  flex: 8;
  font-size: 18px;
  border: none;
  background-color: rgb(248, 239, 248);
  border-radius: 2px;
  padding: 5px 10px;
  color: rgba(74,74,74,0.7);
  transition: background-color .3s;
}

.modal textarea {
  margin-top: 15px;
  font-size: 14px;
  border: rgb(140, 114, 189) solid 1px; 
  transition: background-color .3s;
  width: 100%;
  resize: none;
}

.modal .input-container input:hover {
  background-color: gainsboro;
}

.modal .input-container input:focus, .modal textarea:focus {
  outline: none;
  background-color: gainsboro;
}


